body{
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

//container
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.img-responsive{
    width: 100%;
}
.jc-spacebetween{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.spacersection{
    padding: 1% 0;
}

//header
.header{
    .nav{
        &-brand{
            h1{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        &-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                li{
                    a{
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        color: black;
                        &:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        
    }
}

//hero
.hero{
    &-desc{
        width: 40%;
    }
}

.gallery {
    height: max-content;
    border-top: 1px #e5e5e5 solid;
    margin-bottom: 3rem;

    &--title {
        color: black;
        margin: 2rem 0;
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;

        &_col {
            height: min-content;
            border-radius: .5rem;
            border: 1px #999 solid;

            &-img {
                border-radius: .5rem .5rem 0 0;
                width: 100%; 
            }

            &-text {
                padding: 1rem 2rem 2rem 2rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.payment--title {
    padding: 2rem 0;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin-bottom: 2rem;
  }
  .payment--detail {
    text-align: center;
    margin-bottom: 2rem;
  }
  .payment--detail_amount {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .payment--method {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .payment--method_row {
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .payment--method_row:last-child {
    border: 1px solid #999;
  }
  .payment--method_row-image img {
    margin-left: 1rem;
    height: 1.5rem;
  }
  
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    color: white;
    background-color: black;
    height: max-content;
    padding: 5vw 10vw;
}